extends layout

block content
    h1 History

    h2 Pre-Reformation
    p Located approximately six miles east of Rotherham, Maltby is a former mining town. It is within the historic West Riding of Yorkshire. The name Maltby is first attested in the Domesday Book of 1086, where it appears as Maltebi. The name means `Malti's homestead' or `Malti's village', Malti being a common Old Norse name. The Domesday Book also records a `Saxon tower' which would become St Bartholemew's Church, now Maltby's Anglican parish church.
    p #[a(href="https://en.wikipedia.org/wiki/Roche_Abbey") Roche Abbey], on the southern outskirts of Maltby, was founded in 1147 by Cistercian monks from Newminster Abbey (near Morpeth, Northumberland). On 23 June 1538, Abbot Henry Cundall and his seventeen monks gathered in their chapter house to surrender their abbey to the king's commissioners, a victim of Henry VIII's dissolution of the monasteries. But, in modern times, the Diocese of Hallam celebrates an open air mass in the abbey's ruins each Trinity Sunday to commemorate the centuries of Catholic faith and worship offered at this site.

    h2 Post-Reformation
    p A Roman Catholic mission was established in 1912, in response to the discovery of coal in the area &mdash; #[a(href="https://en.wikipedia.org/wiki/Maltby_Main_Colliery") Maltby Main Colliery] began sinking in 1907 &mdash; and the consequent rapid growth of the town. The Rev Thomas Parkin was the first priest. A temporary timber church opened on 18 January 1914, said to be that now at Harworth.
    p It was not until 1954, however, that plans were made for a permanent Roman Catholic parish church. J H Langtry-Langton of Bradford was the architect and the foundation stone was laid on 5 August 1954. The church was built to seat four hundred, and cost approximately £16,000. It was opened and blessed by Bishop Heenan of Leeds on 13 October 1955 and consecrated on 6 May 1974. The same year, #[a(href="https://en.wikipedia.org/wiki/Richard_Lumley,_12th_Earl_of_Scarbrough") the 12th Earl of Scarborough] presented an altar stone containing relics which had come from Roche Abbey; this was interred in the altar of the church.

    h2 Parish Priests
    div.parish-priests-parent
        div.parish-priests-child
            table
                tr
                    td Rev Fr Thomas Parkin
                    td 1912 to 1916
                tr
                    td Rev Fr Henry Vos
                    td 1916 to 1933
                tr
                    td Rev Fr John Mullane
                    td 1933 to 1953
                tr
                    td Rev Fr Patrick Coleman
                    td 1953 to 1971
                tr
                    td Rev Fr Leonard May
                    td 1971 to 2003
                tr
                    td Rev Fr Donald Stoker
                    td 2003 to 2006
                tr
                    td Rev Fr Andrew Browne
                    td 2006 to 2012
                tr
                    td Rev Fr Andy Graydon
                    td 2012 to 2014
                tr
                    td Rev Fr John Adikwu CM
                    td 2014 to 2017
                tr
                    td Rev Fr Andy Graydon
                    td 2017 to 2020
                tr
                    td Rev Fr John Adikwu CM
                    td 2020 to 2024
                tr
                    td Rev Fr Basil Nlebedim
                    td 2024 to present
        div.parish-priests-child
            div.parish-priests-photo-row
                figure.parish-priest
                    img.parish-priest(
                        src="/images/parish_priests/father_patrick_coleman.jpg"
                    )
                    figcaption Father Patrick Coleman
                figure.parish-priest
                    img.parish-priest(
                        src="/images/parish_priests/father_leonard_may.jpg"
                    )
                    figcaption Father Leonard May
                figure.parish-priest
                    img.parish-priest(
                        src="/images/parish_priests/father_andrew_browne.jpg"
                    )
                    figcaption Father Andrew Browne
            div.parish-priests-photo-row
                figure.parish-priest
                    img.parish-priest(
                        src="/images/parish_priests/father_andy_graydon.jpg"
                    )
                    figcaption Father Andy Graydon
                figure.parish-priest
                    img.parish-priest(
                        src="/images/parish_priests/father_john_adikwu.jpg"
                    )
                    figcaption Father John Adikwu